.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px 20px;
  }
  
.stat{
  display: flex;
 
  padding: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
  

}

.icon{
  background: blue;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
}

.icon img{
  width: 100%;
}

