.charts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .charts .chart {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin-right: 20px;
  }
  
  .charts .chart:last-child {
    margin-right: 0;
  }